# Flask Settings
FLASK_APP=app.py
FLASK_ENV=development

# Security (Required: App will throw ValueError if left blank)
JWT_SECRET_KEY=

# Optional Configurations (App defaults to False)
JWT_COOKIE_SECURE=
DATABASE_URL=database.db # placeholder for DB or database won't be created