# Flask Settings
FLASK_APP=app.py
FLASK_ENV=development

# Security (Required: App will throw ValueError if left blank)
JWT_SECRET_KEY=

# Optional Configurations (App defaults to False / database.db if left blank)
JWT_COOKIE_SECURE=
DATABASE_URL=